/storage/
/.env
/dev_cookies.json
/pgdata/
/alembic.ini
/.idea
/scrapers-config.json
/scrapers.json
/.venv/
/data/scrapers.json
/data/student_pictures/
/flask_monitoringdashboard.db
/data/monitoring.cfg
